<form fsForm="save(form)">
  <div class="container">
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input
        matInput
        [(ngModel)]="value"
        fsFormRequired
        fsMaskNumber
        [scale]="5"
        name="number"
        [signed]="true"
        [padFractionalZeros]="true"
        (ngModelChange)="changed($event)">
      <mat-hint>Value: {{value}}</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Number (Change on Blur)</mat-label>
      <input
        matInput
        [(ngModel)]="valueBlur"
        fsFormRequired
        fsMaskNumber
        [scale]="5"
        name="valueBlur"
        [signed]="true"
        [padFractionalZeros]="true"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed($event)">
      <mat-hint>Value: {{valueBlur}}</mat-hint>
    </mat-form-field>
  </div>
</form>

