<fs-examples [config]="config">

  <fs-example name="Currency" componentName="first-example">
    <first-example></first-example>
  </fs-example>

  <fs-example name="Number" componentName="number">
    <number></number>
  </fs-example>

  <fs-example name="Regex" componentName="regex">
    <regex></regex>
  </fs-example>

  <fs-example name="Pattern" componentName="pattern">
    <pattern></pattern>
  </fs-example>

  <fs-example name="Suffix" componentName="suffix">
    <suffix></suffix>
  </fs-example>
</fs-examples>
